.tracks{ 

    height: 72px; 
    cursor: pointer;
   
   

    .like{
        opacity: 0%;
    }

    &:hover{
        background: #3b3b3b; 
        .like{
            opacity: 100%;
        }
        
    }

}