.drawer{
    width: 20%;
    
    background: black; 
    transform: translate(100%);
    display: none;
    transform: 300ms;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 9999;
    min-height: 1500px;
   
}
.active{
    display: block;
    transform: translate(0%);
}
svg{
    cursor:  pointer;
}