.categories{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(224px,1fr));
    margin-top: 25px;
    justify-items: center;
    grid-gap: 31px;
    padding-bottom: 85px;
    .item{
        position: relative;
         width: 240px;
         height: 240px;
         background: #27856A;
         border-radius: 11px;
         overflow: hidden;
         cursor: pointer;
         img{
            position: absolute;
            bottom: 0;
            right: 0;
            width: 128px;
            height: 128px;
            transform: rotate(45deg);
         }

         
       
    }

    
}